{% extends getPartial('page-design') %}

{% block PageBody %}

<section class="benefits container">
   <span><i class="fas fa-check"></i> {{ trans("CeresCoconut::Template.lieferzeiten") }}</span>     
   <span><i class="fas fa-check"></i> {{ trans("CeresCoconut::Template.kaeuferschutz") }}</span>
   <span><i class="fas fa-check"></i> {{ trans("CeresCoconut::Template.rueckgabe") }}</span>
   <span><i class="fas fa-check"></i> {{ trans("CeresCoconut::Template.sicherheit") }}</span>
</section>

<section class="slideshow container">
   <img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/slide_01_redtech.jpg" alt="Red Tech">
</section>

<section class="container feature-wrapper">
   <a href="/alle-kategorien/handys" class="feature-box"><img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/category_smartphone.jpg" alt="Smartphones">{{ trans("CeresCoconut::Template.smartphone") }}</a>
   <a href="/alle-kategorien/smartwatches/" class="feature-box"><img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/category_smartwatch.jpg" alt="Smartwatches">{{ trans("CeresCoconut::Template.smartwatch") }}</a>
   <a href="/alle-kategorien/computer-tablets/tablets/" class="feature-box"><img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/category_tablet.jpg" alt="Tablets">{{ trans("CeresCoconut::Template.tablets") }}</a>
   <a href="/alle-kategorien/computer-tablets/pc/" class="feature-box"><img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/category_computer.jpg" alt="Desktop-PCs">{{ trans("CeresCoconut::Template.pc") }}</a>
   <a href="/alle-kategorien/gaming-vr/" class="feature-box"><img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/category_konsole.jpg" alt="Spielkonsolen">{{ trans("CeresCoconut::Template.game") }}</a>
   <a href="/alle-kategorien/haushalt/tv/" class="feature-box last"><img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/category_tv.jpg" alt="LED-/LCD-TV">{{ trans("CeresCoconut::Template.tv") }}</a>
</section>

<div class="clear"></div>

<section class="productlisting container">
   {{ LayoutContainer.show("CeresCoconut::Homepage.Container1") }}
</section>

<section class="productlisting container">
   {{ LayoutContainer.show("CeresCoconut::Homepage.Container2") }}
</section>

{% endblock %}
