o{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}

<div class="shipping-payment">
  <div class="container">
    <img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/payment-shipping.jpg" alt="Versand und Zahlungsanbieter">
  </div>
</div>

<div class="footer">

    <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="to-top d-md-none" v-scroll-to-top>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>

    <div class="container">          

        {% set cat = services.category.get(config('Ceres.global.category.legal_disclosure')) %}
        <div class="link-list-wrapper">
        
            <div class="link-list">
                {% autoescape false %}
                    <a href="{{ urls.cancellationRights }}">{{ trans("Ceres::Template.footerCancellationRight", {"hyphen": "&shy;"}) }}</a>
                    {% if config("Ceres.footer.cancellation_use_pdf") == "true" %}
                        <a href="{{ config('Ceres.footer.cancellation_pdf_path') }}" target="_blank">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
                    {% else %}
                        <a href="{{ urls.cancellationForm }}">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
                    {% endif %}
                    {% if config("Ceres.contact.shop_mail") | length > 0 and config("Ceres.contact.shop_mail") != "your@email.com" %}
                        <a href="{{ urls.contact }}">{{ trans("Ceres::Template.footerContact") }}</a>
                    {% endif %}
                {% endautoescape %}
            </div>
            
            <div class="link-list">
                {% autoescape false %}
                    <a href="{{ urls.legalDisclosure }}">{{ trans("Ceres::Template.footerLegalDisclosure") }}</a>
                    <a href="{{ urls.privacyPolicy }}">{{ trans("Ceres::Template.footerPrivacyPolicy", {"hyphen": "&shy;"}) }}</a>
                    <a href="{{ urls.gtc }}">{{ trans("Ceres::Template.footerGtc") }}</a>
                {% endautoescape %}
            </div>
            
            <div class="link-list">
              <a href="#">Mein Konto</a>
              <a href="#">Mein Warenkorb</a>
              <a href="#">Meine Wunschliste</a>
            </div>
            
            <div class="link-list ">
              <img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/seals.jpg" alt="Sicherheit beim Einkaufen">
            </div>
            
            <div class="clear"></div>
            
        </div>
       

</div></div>

        <div class="copyright">
        <div class="container">
        © 2019 Red Tech GmbH. Alle Rechte vorbehalten. 
<span>Alle Preise inklusive gesetzlicher Mehrwertsteuer und zuzüglich Versandkosten.</span>
        </div>
        </div>
